In [1]:
# creating a web page which can recommend us movies

# Data Processing

In [1]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv.zip')
credits = pd.read_csv('tmdb_5000_credits.csv.zip')

movies
# it is data of movies have all the details of movies

movies.columns
# these are all columns in this dataset

movies.shape
# have approx 4800 movies and 20 columns of data

credits
# it have data of title cast and crew

credits.shape
# have same no. of data and 4 cols

(4803, 4)

In [5]:
# now first fo all we want our data at one place so we will merge the data on the basis of movie_id and id columns

credits = credits.drop(columns=['title'])
# both data have title columns which is creating merge error so we are droping one title from credits data
movies = movies.merge(credits, left_on = 'id', right_on = 'movie_id')
# storing new data in movies

movies
# now here at the end of this data we have cast and crew also

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [7]:
# now here we have approx 23 columns but all of these are not helpfur so we will eleminate some columns and make our data as much we needed

# columns we need 
# genres
# id
# keywords
# title
# overview
# cast: for actore
# crew: for director

movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]
movies
# now here in this data we have only those columns which is needed for creating our project

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4798,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [9]:
# null data can give us truble so we will check if there is any null data in this if exists than we will remove that

# movies.isnull().sum()
# so here we can see total sum of null values in each columns

# now we will drop that data from dataset

movies = movies.copy()
movies.dropna(inplace=True)
movies.isnull().sum()
# now we can see that all null values are removed

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [11]:
# next we will check if there is any data is duplicated or not 
# because duplicate data also can give us trouble

movies.duplicated().sum()
# so we can see that we have no duplicated data

0

In [13]:
# next we have to fetch the genres of all movies

movies.iloc[0]
# it is all data of first movie

movies.iloc[0].genres
# here we have genres of first movie from our data

# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, 
# {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

# so here only in first movie we have 4 genres
# Action, Adventure, Fantasy, Science Fiction

# so we want all the genres in a list 
# creating a function whihc will do this work

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

# now here we have got the int type data so now our func will work

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [17]:
def convert(obj):

    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name']) 
    return L

In [19]:
convert(
'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')
# function is working properly

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [21]:
movies = movies.copy()
# if we will try to to this changes without making copy of main data set than it will give us warning
movies['genres'] = movies['genres'].apply(convert)

In [23]:
movies.head()

# code was giving us some error but we have got what we wanted
# upper code is giving us erroe because we have run that program twice , since in the first time our program was executed successfully and we got our output
# therefore it is not getting the proper data which it wants as that is changed in first execution

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [25]:
movies.loc[:, 'keywords'] = movies['keywords'].apply(convert)

In [27]:
movies.head()

# here upper code is we have run only once there for it is not giving us error if we will run it again than it will give us error
# now here we have successfully converted our genres and keywords data to  list
# but still there are definetly some problem because it is giving us error even after giving outpput

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [29]:
movies['cast'].iloc[0]
# it will give us cast of first movie only 
# now here again we want only the name of cast not all other data 
# so we will again create a program

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [31]:
def convertCast(obj):

    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])

    return L

# it will give us only name of cast

In [33]:
movies.loc[:, 'cast'] = movies['cast'].apply(convertCast)

In [35]:
movies.head()
# here we have only names of cast

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [37]:
# now we have to do the same for crew
# but here we want only director not others

# let create a function 
def convertDir(obj):

    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break

    return L

In [39]:
movies.loc[:, 'crew'] = movies['crew'].apply(convertDir)

In [41]:
movies.head()
# here we got only director name at place of crew

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [43]:
movies.loc[0, 'overview']
# so we can see that overview have a big str data 
# overview column is a string lets convert this to a list so that we can use it with other data

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [45]:
movies.loc[:, 'overview'] = movies['overview'].apply(lambda x:x.split())
# again if we will run this program twice than it will give us error

# it will give us a list which have all the char of overviews string data

In [47]:
movies.head()
# we have got the

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [49]:
# genres, keywords, cast, crew in this all whatever the space we have inbetween and data than we have to remove that space 

# movies.loc['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])
# here we have remove the space from genres we have to the same with other data too

#movies.loc['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])
# movies.loc['cast'] = movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
# movies.loc['crew'] = movies['crew'].apply(lambda x: [i.replace(" ", "") for i in x])

In [51]:
# there was some problem in professors program when we are trying to do in newer version of pandas so we are creating a func which will remove spaces

def remove_spaces(lst):
    if isinstance(lst, list):
        return [i.replace(" ", "") for i in lst]
    return lst  # Return the value as is if it's not a list

In [53]:
movies.loc[:, 'genres'] = movies['genres'].apply(remove_spaces)
movies.loc[:, 'keywords'] = movies['keywords'].apply(remove_spaces)
movies.loc[:, 'cast'] = movies['cast'].apply(remove_spaces)
movies.loc[:, 'crew'] = movies['crew'].apply(remove_spaces)

In [55]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [57]:
# now lets creat a new column named tags which will have all the data form overview, genres, keywords, cast and crew

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [59]:
movies.sample()
# now at the end of all columns we have new column named tags

,movie_id,title,overview,genres,keywords,cast,crew,tags
811,1597,Meet the Parents,"[Greg, Focker, is, ready, to, marry, his, girl...","[Comedy, Romance]","[cia, airport, cat, jew, orderly, airplane, fa...","[BenStiller, RobertDeNiro, TeriPolo, BlytheDan...",[JayRoach],"[Greg, Focker, is, ready, to, marry, his, girl..."

In [61]:
# now we will remove all columns except movie_id, title, and tags

movies = movies[['movie_id', 'title', 'tags']]
movies.head()
# we got our data what we wanted

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [63]:
# now lets make this as a single str as it have so many data in a list

movies.loc[:,'tags'] = movies['tags'].str.join(' ')

In [65]:
movies.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [67]:
# we want all the tags data in lower case

movies.loc[:, 'tags'] = movies['tags'].apply(lambda x: ' '.join(x).lower() if isinstance(x, list) else (x.lower() if isinstance(x, str) else x))

In [69]:
movies.head()
# now at this point we have got the data which we wanted

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

# Text Vectorization

In [74]:
# how we can say that any two movies are similar and they can be recommend to the user

movies['tags'][0]
# it is tag of movies one

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez giovanniribisi joeldavidmoore cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyte scottlawrence kellykilgour jamespatrickpitt seanpatrickmurphy peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurry lukehawker woodyschultz petermensah soniayee jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibby jodielandau julielamm cullenb.madden josephbradymadden frankietorres austinwilson sarawilson tamicawashington-miller lucybriant nathanmeister gerryblair matthewchamberlain paulyates wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrell brandonjelkes micahmoch hanniyahmuhammad christophernolen christaoliver aprilmariethomas bravitaa.threatt colinbleasdale mikebodnar mattclayton nicoledionne jamieharrison allanhenry anthonyingruber ashleyjeffery deanknowsley josephmika-hunt terrynotary kaipantano loganpithyou stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhiteside nikiezambo julenerenee jamescameron'

In [76]:
movies['tags'][1]
# this is tag of movies two

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley stellanskarsgård chowyun-fat billnighy geoffreyrush jackdavenport kevinmcnally tomhollander naomieharris jonathanpryce keithrichards leearenberg mackenziecrook gregellis davidbailie martinklebba davidschofield laurenmaher vanessabranch angusbarnett gilesnew reggielee dominicscottkay takayofischer davidmeunier ho-kwantse andybeckwith peterdonaldbadalamentiii christophers.capp keithrichards hakeemkae-kazim ghassanmassoud goreverbinski"

####  now we have to calculate the similarity between two movies so that depends on the similarity of text in tags data

In [81]:
# but all the data are text not int that we can calculate similarity

In [83]:
# so now in this situation we have vectorization helps

# we will convert all the movies to a vector on the basis of count of data

# here we will to text vectorization  using : bag of words method
# in this method firstly we will concatinate every string and create a single string 
# new_tag = tag[0] + tag[1] + tag[2] + tag[3] + ....
# now here we will count down all the words frequency 10000 most common words
# now next we will ask every movies tag that how many times all words from that 10000 words are here in tags
# so this way for the first movies we have a vecotor having 10000 columns which are most common words
# now we will do this same thing for all 44400 movies 
# so we will get a  vector of size 44400 rows and 10000 columns

# one more important thing we will not consider stop words: stop words means words which are only helping for sentence creation
# like: is, am , are , the , and, too, a, of, and  so many
# we will apply vectorization on other words


# may be it seems very hard in listening but we have not to do something to much 
# sklearn will help us to do this so it will become very easy
# in sklearn we have a class from sklearn.feature_extraction.text named: CountVectorizer

In [87]:
from sklearn.feature_extraction.text import CountVectorizer

# now we will create a class of CountVectorizer
cv =  CountVectorizer(max_features = 5000, stop_words = 'english')
# here we have choose no of words to 5000 and using stop_words we are preventing to use sentence builder words from English

In [89]:
# cv.fit_transform(movies['tags'])
# it returns us a sparse matrix so we will convert it to array

vect_arr = cv.fit_transform(movies['tags']).toarray()
# here we have an array having 5000 data in each row and total 4800 rows

In [91]:
vect_arr.shape

(4800, 5000)

In [93]:
# we can see that what is our 5000 words using a method of cv

# cv.get_feature_names()
# it was using previously now its renamed
cv.get_feature_names_out()
# here we have 5000 most common words

array(['000', '007', '10', ..., 'zoo', 'zooeydeschanel', 'zoëkravitz'],
      dtype=object)

In [95]:
# we have use steming
# steming is a technique which is use for removing words having same meaning but spell is different

['love', 'loves', 'loving', 'loved']
# after steming we will get
['love', 'love', 'love', 'love']

# now we will apply steming on whole data

['love', 'love', 'love', 'love']

In [97]:
import nltk

In [99]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [101]:
def stemmer(text):

    y = []

    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [103]:
movies.loc[:, 'tags'] = movies['tags'].apply(stemmer)

# how it will did stemming and we will get new data which is will be changed

In [105]:
movies['tags']

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4798    el mariachi just want to play hi guitar and ca...
4799    a newlyw couple' honeymoon is upend by the arr...
4800    "signed, sealed, delivered" introduc a dedic q...
4801    when ambiti new york attorney sam is sent to s...
4802    ever sinc the second grade when he first saw h...
Name: tags, Length: 4800, dtype: object

In [107]:
# now we will do that sklearn process again on this new data

cv =  CountVectorizer(max_features = 5000, stop_words = 'english')

In [109]:
vect_arr = cv.fit_transform(movies['tags']).toarray()
# here we have an array having 5000 data in each row and total 4800 rows

In [111]:
from sklearn.metrics.pairwise import cosine_similarity

In [113]:
similarity = cosine_similarity(vect_arr)

In [115]:
similarity[0]
# it is similarity score of first movie by all other movies
# it will show us firs item as 1 because first item is similarity with it self so similarity with it self is 1

# here we will sort this data than we will get top 5 movies which are most similar to the first movie
# if some one will ask for first movie than we will recommend them these 5 movies

array([1.        , 0.06741999, 0.07537784, ..., 0.04264014, 0.        ,
       0.        ])

In [120]:
sorted(similarity[0], reverse = True)
# it is in ascending order we want in descending order
# but we will lost the index position because of sorting 
# so some how we have to stick with index

[0.9999999999999994,
 0.2683711001116924,
 0.23354968324845687,
 0.23221018200641194,
 0.22438727760202976,
 0.2201021946200333,
 0.220043114711676,
 0.2175970699446223,
 0.2172620473133704,
 0.20889318714683738,
 0.20695933859617893,
 0.20225995873897268,
 0.20100756305184242,
 0.19968076595771794,
 0.19943100880436643,
 0.19790977371009408,
 0.1928473039599675,
 0.1914598952668709,
 0.19145989526687088,
 0.186370957476581,
 0.18540496217739155,
 0.18463723646899916,
 0.18463723646899916,
 0.18281810603178267,
 0.18098069149825669,
 0.18098069149825666,
 0.17837651700316892,
 0.1776672636296754,
 0.175919798853417,
 0.17588161767036212,
 0.17407765595569785,
 0.17231390574018382,
 0.16960013132499205,
 0.16898159235484364,
 0.1688801323682996,
 0.1688801323682996,
 0.16854996561581054,
 0.16796775328675628,
 0.16685595311797868,
 0.1651445647689541,
 0.16351748504193214,
 0.16262312563634837,
 0.160930171455096,
 0.160930171455096,
 0.1599005372667078,
 0.15745916432444343,
 0.15745916432444343,
 0.15731330124142318,
 0.15731330124142318,
 0.15701373439577196,
 0.1555939785660355,
 0.15386436372416595,
 0.15194743527951723,
 0.15075567228888181,
 0.1507556722888818,
 0.1507556722888818,
 0.1487044791289829,
 0.1487044791289829,
 0.14782809899727067,
 0.14782809899727067,
 0.14777011582226215,
 0.14716573653773893,
 0.14673479641335554,
 0.14673479641335554,
 0.1463423517512409,
 0.1463423517512409,
 0.14625448482542613,
 0.14506471329641488,
 0.14484136487558028,
 0.14414999403128942,
 0.14382062372263346,
 0.14229523493180482,
 0.1421338109037403,
 0.14126448280440335,
 0.14019992744655632,
 0.1399731277389636,
 0.13997312773896356,
 0.13997312773896356,
 0.13856632693135676,
 0.1374416265488099,
 0.13483997249264842,
 0.13483997249264842,
 0.13483997249264842,
 0.13483997249264842,
 0.13336626734231613,
 0.13336626734231613,
 0.13336626734231613,
 0.1332504477222565,
 0.1329540058695776,
 0.1315903389919538,
 0.1315903389919538,
 0.1305582419667734,
 0.1305582419667734,
 0.130051217752471,
 0.12989718332941094,
 0.12927192249875477,
 0.12927192249875477,
 0.1292191476761844,
 0.1292191476761844,
 0.1292191476761844,
 0.128564869306645,
 0.12792042981336627,
 0.12741179785940637,
 0.12741179785940637,
 0.1266600992762247,
 0.1266600992762247,
 0.1257389226923863,
 0.1257389226923863,
 0.1257389226923863,
 0.1257389226923863,
 0.1256297269074015,
 0.12543630150106364,
 0.12392039927415242,
 0.12392039927415242,
 0.12392039927415242,
 0.12392039927415242,
 0.12392039927415242,
 0.12351231781710247,
 0.12309149097933275,
 0.12309149097933275,
 0.12309149097933275,
 0.12309149097933272,
 0.12227899701112963,
 0.12227899701112961,
 0.12227899701112961,
 0.12196734422726127,
 0.12185435916898847,
 0.12087344460380706,
 0.12087344460380706,
 0.12087344460380706,
 0.1207011373963169,
 0.12060453783110546,
 0.11918282365569904,
 0.11918282365569904,
 0.11918282365569904,
 0.11918282365569904,
 0.11877113736973437,
 0.11877113736973437,
 0.11877113736973437,
 0.11872936802173273,
 0.11826247919781653,
 0.11826247919781653,
 0.11776030079682895,
 0.11772040233700279,
 0.11772040233700279,
 0.11631052629980886,
 0.11631052629980884,
 0.11631052629980884,
 0.1160517706371319,
 0.11495012246792571,
 0.11487593716012254,
 0.11396057645963793,
 0.11396057645963793,
 0.11396057645963793,
 0.11396057645963793,
 0.11306675421666137,
 0.11306675421666137,
 0.11306675421666137,
 0.11306675421666137,
 0.11306675421666136,
 0.11236664374387369,
 0.11236664374387369,
 0.11236664374387369,
 0.11197850219117085,
 0.11197850219117085,
 0.11197850219117085,
 0.11113855611859678,
 0.11113855611859678,
 0.11113855611859677,
 0.11009637651263605,
 0.11009637651263605,
 0.11009637651263605,
 0.11009637651263605,
 0.10994987428338562,
 0.1096908636190696,
 0.1096908636190696,
 0.1096908636190696,
 0.10889310129609417,
 0.10879853497231116,
 0.10830607221477646,
 0.10830607221477646,
 0.10828451233156997,
 0.10770505460691618,
 0.107682623063487,
 0.10768262306348698,
 0.10768262306348698,
 0.10660035817780524,
 0.10660035817780522,
 0.10660035817780522,
 0.10660035817780522,
 0.10660035817780522,
 0.10660035817780521,
 0.10660035817780521,
 0.10660035817780521,
 0.10586770098608782,
 0.10497277621629561,
 0.1049727762162956,
 0.1049727762162956,
 0.1049727762162956,
 0.1049727762162956,
 0.1049727762162956,
 0.1049727762162956,
 0.10453025125088637,
 0.10453025125088636,
 0.10444659357341869,
 0.10444659357341869,
 0.1037571695799112,
 0.10353942082032279,
 0.10353942082032279,
 0.10353942082032279,
 0.10341753799900383,
 0.10341753799900383,
 0.10341753799900383,
 0.10308121991160742,
 0.10257624248277727,
 0.10257624248277727,
 0.10257624248277727,
 0.1019294382875251,
 0.1019294382875251,
 0.1019294382875251,
 0.1019294382875251,
 0.1019294382875251,
 0.10163945352271772,
 0.10163945352271772,
 0.10112997936948631,
 0.10112997936948631,
 0.10112997936948631,
 0.10112997936948631,
 0.10107842189513386,
 0.10072787050317254,
 0.10072787050317254,
 0.10072787050317254,
 0.10050378152592121,
 0.10050378152592121,
 0.10050378152592121,
 0.10050378152592121,
 0.10050378152592121,
 0.10050378152592121,
 0.10050378152592121,
 0.09988907373180403,
 0.09927330486454494,
 0.09913631941932194,
 0.09913631941932194,
 0.09913631941932194,
 0.09913631941932194,
 0.09913631941932194,
 0.09897594780811197,
 0.09897594780811197,
 0.09883693657685838,
 0.09869275424396536,
 0.09869275424396536,
 0.09869275424396536,
 0.09869275424396536,
 0.09869275424396536,
 0.09813358399735746,
 0.09813358399735746,
 0.09811049102515929,
 0.0978231976089037,
 0.09782319760890369,
 0.09782319760890369,
 0.09782319760890369,
 0.09753841331435326,
 0.09656090991705352,
 0.09656090991705352,
 0.09656090991705352,
 0.09656090991705352,
 0.09656090991705352,
 0.09651142956027287,
 0.09651142956027287,
 0.09651142956027287,
 0.09642365197998375,
 0.09642365197998375,
 0.09642365197998375,
 0.09642365197998375,
 0.09642365197998375,
 0.09642365197998375,
 0.09572994763343545,
 0.09572994763343545,
 0.09572994763343545,
 0.09572994763343545,
 0.09534625892455924,
 0.09534625892455924,
 0.09534625892455924,
 0.09496714704969828,
 0.09496714704969828,
 0.09496714704969828,
 0.09496714704969828,
 0.09496714704969828,
 0.09430419201928972,
 0.09430419201928972,
 0.09422229518055114,
 0.09422229518055114,
 0.09422229518055114,
 0.09417632186960223,
 0.09417632186960223,
 0.09417632186960223,
 0.09417632186960223,
 0.09417632186960223,
 0.09417632186960223,
 0.09349469900084573,
 0.09349469900084573,
 0.09304842103984708,
 0.09304842103984708,
 0.09304842103984708,
 0.09304842103984708,
 0.09304842103984708,
 0.09304842103984708,
 0.09231861823449956,
 0.09231861823449956,
 0.09231861823449956,
 0.09231861823449956,
 0.09208868358546966,
 0.09196009797434057,
 0.09196009797434057,
 0.09196009797434057,
 0.09196009797434057,
 0.09196009797434057,
 0.09196009797434057,
 0.09196009797434057,
 0.09196009797434057,
 0.09196009797434057,
 0.09196009797434057,
 0.09196009797434057,
 0.09196009797434057,
 0.09196009797434057,
 0.09140905301589133,
 0.09090909090909093,
 0.09090909090909093,
 0.09090909090909093,
 0.09090909090909093,
 0.09090909090909093,
 0.09045340337332909,
 0.09045340337332909,
 0.09009374626955591,
 0.09009374626955591,
 0.08989331499509895,
 0.08989331499509895,
 0.08989331499509895,
 0.08989331499509895,
 0.08989331499509895,
 0.08989331499509895,
 0.08989331499509895,
 0.08945703337056415,
 0.08891084489487742,
 0.08891084489487742,
 0.08891084489487742,
 0.08891084489487742,
 0.08891084489487742,
 0.08891084489487742,
 0.08891084489487742,
 0.0888336318148377,
 0.0888336318148377,
 0.0888336318148377,
 0.0886968593983624,
 0.0886968593983624,
 0.0886968593983624,
 0.0886968593983624,
 0.0886968593983624,
 0.0886968593983624,
 0.0886968593983624,
 0.0879598994267085,
 0.0879598994267085,
 0.0879598994267085,
 0.0879598994267085,
 0.0879598994267085,
 0.0879598994267085,
 0.0876249546540977,
 0.0876249546540977,
 0.08703882797784894,
 0.08703882797784894,
 0.08703882797784894,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08663864733868616,
 0.08614609845078959,
 0.08614609845078959,
 0.08614609845078959,
 0.08614609845078959,
 0.08614609845078959,
 0.08590101659300618,
 0.08547043234472845,
 0.08547043234472845,
 0.08547043234472845,
 0.08547043234472845,
 0.08547043234472845,
 0.08547043234472845,
 0.08547043234472845,
 0.08547043234472845,
 0.08534859274986485,
 0.08528028654224418,
 0.08528028654224418,
 0.08528028654224418,
 0.08528028654224418,
 0.08528028654224418,
 0.0848066914440948,
 0.0848066914440948,
 0.08444006618414981,
 0.0844400661841498,
 0.0844400661841498,
 0.0844400661841498,
 0.08398387664337814,
 0.08398387664337814,
 0.08398387664337814,
 0.08398387664337814,
 0.08398387664337814,
 0.08398387664337814,
 0.08398387664337814,
 0.08398387664337814,
 0.08398387664337814,
 0.083753151271601,
 0.083753151271601,
 0.0836242010007091,
 0.0836242010007091,
 0.0836242010007091,
 0.0836242010007091,
 0.0836242010007091,
 0.0836242010007091,
 0.08362420100070908,
 0.08362420100070908,
 0.08362420100070908,
 0.08362420100070908,
 0.08283153665625823,
 0.08283153665625823,
 0.0827379240401869,
 0.08257228238447704,
 0.08257228238447704,
 0.08257228238447704,
 0.08257228238447704,
 0.08257228238447704,
 0.08257228238447704,
 0.08215419219227854,
 0.08206099398622183,
 0.08206099398622183,
 0.08206099398622183,
 0.08206099398622183,
 0.08175874252096607,
 0.08131156281817417,
 0.08131156281817417,
 0.08131156281817417,
 0.08122955416108235,
 0.08122955416108235,
 0.08122955416108235,
 0.08122955416108235,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.08058229640253803,
 0.0799502686333539,
 0.0799502686333539,
 0.0799502686333539,
 0.0799502686333539,
 0.0799502686333539,
 0.0799502686333539,
 0.0799502686333539,
 0.0799502686333539,
 0.0799502686333539,
 0.0799502686333539,
 0.07987230638308718,
 0.07987230638308718,
 0.07987230638308718,
 0.07987230638308718,
 0.07987230638308718,
 0.07987230638308718,
 0.07945521577046602,
 0.07918075824648958,
 0.0787295821622217,
 0.0787295821622217,
 0.0787295821622217,
 0.0787295821622217,
 0.07850686719788597,
 0.07850686719788597,
 0.07850686719788597,
 0.0778498944161523,
 0.0778498944161523,
 0.0778498944161523,
 0.0778498944161523,
 0.0778498944161523,
 0.0778498944161523,
 0.0778498944161523,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07733602811121824,
 0.07733602811121824,
 0.07720914364821829,
 0.07720914364821829,
 0.07658395810674837,
 0.07658395810674837,
 0.07658395810674837,
 0.07653459686532839,
 0.07644707871564382,
 0.07644707871564382,
 0.07644707871564382,
 0.07644707871564382,
 0.07644707871564382,
 0.07644707871564382,
 0.07644707871564382,
 0.07644707871564382,
 0.07597371763975862,
 0.07597371763975862,
 0.07597371763975862,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07479575920067658,
 0.07479575920067658,
 0.07463517925331652,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07422696190252054,
 0.07422696190252054,
 0.07410231536301586,
 0.07367094686837573,
 0.07367094686837573,
 0.07367094686837573,
 0.07367094686837573,
 0.07336739820667777,
 0.07336739820667777,
 0.07336739820667777,
 0.07336739820667777,
 0.07336739820667777,
 0.07336739820667777,
 0.07336739820667777,
 0.07336739820667777,
 0.07336739820667777,
 0.07312724241271307,
 0.07312724241271307,
 0.07312724241271307,
 0.07312724241271307,
 0.07312724241271307,
 0.07259540086406277,
 0.07259540086406277,
 0.07242068243779014,
 0.07242068243779014,
 0.07242068243779014,
 0.07242068243779014,
 0.07207499701564472,
 0.07207499701564472,
 0.07207499701564472,
 0.07207499701564472,
 0.07156562669645132,
 0.07156562669645132,
 0.07156562669645132,
 0.07150969419341943,
 0.07150969419341943,
 0.07150969419341943,
 0.07150969419341943,
 0.07150969419341943,
 0.07150969419341943,
 0.07150969419341943,
 0.07106690545187015,
 0.07106690545187015,
 0.07106690545187015,
 0.07106690545187015,
 0.07106690545187015,
 0.07106690545187015,
 0.07106690545187015,
 0.07106690545187015,
 0.07106690545187015,
 0.07106690545187015,
 0.07106690545187015,
 0.07106690545187015,
 0.07063224140220167,
 0.07063224140220167,
 0.07063224140220167,
 0.07063224140220167,
 0.07063224140220167,
 0.07063224140220167,
 0.07063224140220167,
 0.07063224140220167,
 0.07063224140220167,
 0.07063224140220167,
 0.07057846732405855,
 0.07057846732405855,
 0.07029019463944167,
 0.07009996372327816,
 0.07009996372327816,
 0.06978631577988531,
 0.06978631577988531,
 0.06978631577988531,
 0.06978631577988531,
 0.06978631577988531,
 0.06978631577988531,
 0.06978631577988531,
 0.06978631577988531,
 0.06978631577988531,
 0.06978631577988531,
 0.06978631577988531,
 0.06978631577988531,
 0.06963106238227913,
 0.06963106238227913,
 0.06917144638660747,
 0.06917144638660747,
 0.06917144638660747,
 0.06917144638660747,
 0.06917144638660747,
 0.06917144638660747,
 0.06917144638660747,
 0.06917144638660747,
 0.06917144638660747,
 0.06917144638660747,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06897007348075543,
 0.06872081327440495,
 0.06827887419989188,
 0.06827887419989188,
 0.06818181818181819,
 0.06818181818181819,
 0.06818181818181819,
 0.06818181818181819,
 0.06818181818181819,
 0.06818181818181819,
 0.06784535315527584,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06668313367115807,
 0.06668313367115807,
 0.06668313367115807,
 0.06668313367115807,
 0.06668313367115807,
 0.06668313367115807,
 0.06668313367115807,
 0.06668313367115807,
 0.06668313367115807,
 0.06668313367115807,
 0.06668313367115807,
 0.06619033923214952,
 0.06596992457003137,
 0.06596992457003137,
 0.06596992457003137,
 0.06596992457003137,
 0.06596992457003137,
 0.06596992457003137,
 0.06596992457003137,
 0.06596992457003137,
 0.06596992457003137,
 0.06596992457003137,
 0.06596992457003137,
 0.0657951694959769,
 0.0657951694959769,
 0.0657951694959769,
 0.0657951694959769,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.0652791209833867,
 0.06502560887623551,
 0.0646095738380922,
 0.0646095738380922,
 0.0646095738380922,
 0.0646095738380922,
 0.0646095738380922,
 0.0646095738380922,
 0.0646095738380922,
 0.06428243465332249,
 0.06428243465332249,
 0.06428243465332249,
 0.06428243465332249,
 0.06428243465332249,
 0.06428243465332249,
 0.06428243465332249,
 0.06428243465332249,
 0.06428243465332249,
 0.06428243465332249,
 0.06428243465332249,
 0.06428243465332249,
 0.06428243465332249,
 0.06428243465332249,
 0.06396021490668313,
 0.06396021490668313,
 0.06396021490668313,
 0.06396021490668313,
 0.06396021490668313,
 0.06396021490668313,
 0.06396021490668313,
 0.06396021490668313,
 0.06392027721005931,
 0.06333004963811235,
 0.06333004963811235,
 0.06333004963811235,
 0.06333004963811235,
 0.06333004963811235,
 0.06333004963811235,
 0.06333004963811235,
 0.06333004963811235,
 0.06333004963811235,
 0.06333004963811235,
 0.06333004963811235,
 0.06286946134619315,
 0.06286946134619315,
 0.06286946134619315,
 0.06286946134619315,
 0.06286946134619315,
 0.06286946134619315,
 0.06286946134619315,
 0.06286946134619315,
 0.06286946134619315,
 0.06286946134619315,
 0.06286946134619315,
 0.06286946134619315,
 0.06271815075053182,
 0.06271815075053182,
 0.06271815075053182,
 0.06271815075053182,
 0.06271815075053182,
 0.06271815075053182,
 0.06271815075053182,
 0.06271815075053182,
 0.06271815075053182,
 0.06271815075053182,
 0.06253053994807224,
 0.06212365249219367,
 0.06212365249219367,
 0.06212365249219367,
 0.06212365249219367,
 0.06212365249219367,
 0.06212365249219367,
 0.06212365249219367,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.061545745489666376,
 0.06154574548966637,
 0.06154574548966637,
 0.06154574548966637,
 0.06154574548966637,
 0.06154574548966637,
 0.06154574548966637,
 0.06154574548966637,
 0.06154574548966637,
 0.06154574548966637,
 0.06154574548966637,
 0.06122767749226271,
 0.06098367211363063,
 0.06098367211363063,
 0.06098367211363063,
 0.06098367211363063,
 0.06098367211363063,
 0.06098367211363063,
 0.06098367211363063,
 0.06098367211363063,
 0.06098367211363063,
 0.06091449038731727,
 0.06054493496206034,
 0.06043672230190352,
 0.06043672230190352,
 0.06030226891555273,
 0.06030226891555273,
 0.06030226891555273,
 0.06030226891555273,
 0.06030226891555273,
 0.06030226891555273,
 0.06030226891555273,
 0.06030226891555273,
 0.06030226891555273,
 0.06030226891555273,
 0.06030226891555273,
 0.06030226891555273,
 0.06030226891555273,
 0.05990422978731538,
 0.05990422978731538,
 0.05990422978731538,
 0.05990422978731538,
 0.05990422978731538,
 0.05990422978731538,
 0.05990422978731538,
 0.05990422978731538,
 0.05941759110223066,
 0.059385568684867183,
 0.059385568684867183,
 0.059385568684867183,
 0.059385568684867183,
 0.059385568684867183,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,

In [118]:
# for that problem we will use enumerate fucntion 
# sorted(list(enumerate(similarity[0])))
# here sorting is done by in asceding order

# sorted(list(enumerate(similarity[0])), reverse = True)
# again sorting is done but it does both the data index and value 
# we want to sort only value data

sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x:x[1])[1:6]
# now using this we will sort only the values not index
# so here second value is (2979, 0.48433244995346114),
# it means most similar movie with first is at index 2979
# we want 5 movies so we will use indexing for that
# here we have 5 movies which are most similar

[(1213, 0.2683711001116924),
 (582, 0.23354968324845687),
 (2327, 0.23221018200641194),
 (507, 0.22438727760202976),
 (539, 0.2201021946200333)]

## Recommend function which will give us movies

In [123]:
def recommend(movie):

    movie_index = movies[movies['title'] == movie].index[0]
    distances = similarity[movie_index]

    movies_list = sorted(list(enumerate(distances)), reverse = True, key = lambda x:x[1])[1:6]
    
    recommended_movie = []
    for i in movies_list:
        recommended_movie.append(movies.iloc[i[0]].title)
    return recommended_movie

In [125]:
recommend('The Shawshank Redemption')

# here we have given a movie name in the fucntion and it will give us index of top 5  movies which are similar
# but it is giving us index we want name of movies
# now final model is ready 
# it can give us most similar movies

['Penitentiary', 'Prison', 'Rosewater', 'Flying By', '1982']

In [127]:
# now next we will create a website using streamlit in vs code

In [129]:
# we want this movies data in our vs code so we will use pickle for that

import pickle

In [131]:
# for movies data set 

pickle.dump(movies, open('movies_data.pkl', 'wb'))
# here we are dumping our file data in a file named movies_data.pkl
# and we can open it in the vs code

In [133]:
# now for similarity data we are again creating a pkl file and we use than in app.py

pickle.dump(similarity, open('similarity.pkl', 'wb'))